!
!
!
!
interface eth0
!
interface eth1
!
interface eth2
 ip ospf cost 1000
!
interface lo
!
router ospf
 ospf router-id 10.0.0.2
 passive-interface default
 no passive-interface eth1
 no passive-interface eth2
 network 10.0.0.2/32 area 0.0.0.0
 network 172.20.1.0/24 area 0.0.0.0
 network 172.20.3.0/24 area 0.0.0.0
!
line vty
!
